.nav a {
float: right;
}

.footer-content {
text-align: center;
}

.post-content img {
  max-width: 100%;
}

.post-content iframe {
  max-width: 100%;
}

.sidebar-content ul {
  list-style-type: none;
}
