.nav a {
float: right;
}

.footer-content {
text-align: center;
}

.post-content p, .sidebar-content a {
  font-family: 'Merriweather', serif;
}

.post-content h2, .sidebar-content h3 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  text-transform: uppercase;
}

.nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}

.nav {
  margin-top: auto;
}

.post-content img {
  max-width: 100%;
}

.post-content iframe {
  max-width: 100%;
}

.sidebar-content ul {
  list-style-type: none;
}
